/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea/
/vaccination-exercise.iml

.env
scripts/populate/.env

node_modules


# Backend

backend/node_modules

# Frontend

frontend/node_modules

# Scripts

scripts/populate/node_modules